# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de log y temporales
*.log
*.tmp
*.swp

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de datos grandes o sensibles
*.csv
*.tsv
*.xls
*.xlsx
*.db
*.sqlite3

# Otros
.DS_Store
.env 